SPRING_DATASOURCE_URL=jdbc:mysql://mysql:3306/wikiforge?useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Shanghai&allowPublicKeyRetrieval=true&useSSL=false
SPRING_DATASOURCE_USERNAME=wikiforge
SPRING_DATASOURCE_PASSWORD=wikiforge

MYSQL_DATABASE=wikiforge
MYSQL_USER=wikiforge
MYSQL_PASSWORD=wikiforge
MYSQL_ROOT_PASSWORD=wikiforge_root

CORE_SERVER_PORT=8080
WORKER_SERVER_PORT=8081

WIKIFORGE_WORKER_BASE_URL=http://wikiforge-worker-service:8081
WIKIFORGE_CORE_SERVICE_BASE_URL=http://wikiforge-core-service:8080
WIKIFORGE_INTERNAL_API_TOKEN=change-me
WIKIFORGE_HOST_RAW_SOURCES_ROOT=../data/raw-sources
WIKIFORGE_HOST_OBSIDIAN_VAULT_PATH=../data/obsidian-vault
WIKIFORGE_RAW_SOURCES_ROOT=/data/wikiforge/raw-sources
WIKIFORGE_RAW_SOURCES_PATH=/data/wikiforge/raw-sources
WIKIFORGE_OBSIDIAN_VAULT_PATH=/data/wikiforge/obsidian-vault
WIKIFORGE_OBSIDIAN_VAULT_NAME=WikiForgeVault
WIKIFORGE_ALLOWED_SCAN_ROOTS=/data/wikiforge/imports
WIKIFORGE_MODEL_PROVIDER=
WIKIFORGE_MODEL_API_KEY=

# 当前开发者本机 Obsidian Vault 可设置为：
# WIKIFORGE_HOST_OBSIDIAN_VAULT_PATH=E:/WikiForgeVault
